<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Code postal:</strong>
    <%= department.code_postal %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= department.country_id %>
  </p>

</div>
